DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/...
GITLAB_STATE_PUSH_TOKEN=glpat-...

UNTAPPD_EMBED_URL=https://www-sabatinis-com.filesusr.com/html/78ef16_e5a731e6668aa7c1284a2b632b9ae06e.html
STATE_FILE=data/state.json
POST_INITIAL_SNAPSHOT=false
